body{
    font-family: "Montserrat";
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin: auto;
    padding: 0;
}

::scrollbar{
    display: none;
}

::-webkit-scrollbar{
    display: none;
}

#title{
    background-color: #ff4c68;
    color: #ffffff;
    position: relative;
}


/* Title Image */

.title-image{
    max-width: calc(10rem + 7%);
    transition: 0.5s all ease;
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    bottom: -10%;
    right: 15vmax;
    transform: rotate(15deg);
}

.hero-image{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 950px){
    .hero{
        align-items: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .title-image{
        /* display: none; */
        margin: 1.5rem auto;
        display: flex;
        position: relative;
        transform: rotate(0deg);
        right: auto;
    }
    .hero{
        width: 100%;
    }
    .hero-button{
    margin: 0.5rem!important;
    }
}

h1{
    font-weight: 900;
    font-size: 5vmax;
    line-height: 1.15;
    word-wrap: break-word;
}

.container-fluid{
    padding: 5%;
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */

.navbar{
    padding-bottom: 5rem;
}

.navbar-brand{
    font-family: Ubuntu, sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}

.hero{
    margin-top: 5%;
    word-wrap: break-word;
    width: 50vw;
}

/* Buttons */

.hero-button{
    margin: auto;
}

.hero-button:nth-child(4){
    margin-left: 1rem;
}

/* Features */

#features{
    background-color: #ffffff;
    padding: 10%;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 1.5%;
}

.feature-box h3{
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.feature-box p{
    color: #8f8f8f;
    margin: auto 10%;
    line-height: 1.25;
}

.feature-box i{
    color: #ef8172;
    margin: 2.5vmax;
}

.feature-box i:hover{
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #ffffff;
}

h2{
    font-size: 3.5vmax;
    line-height: 1.25;
    font-weight: 700;
    margin: auto;
    width: 75%;
}

.carousel-item{
    padding: 5%;
}

.testimonial-image{
    width: 5%;
    border-radius: 100%;
    margin: 1.5rem;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding: 5% 0;
}

#press img{
    margin: 2.5rem;
    width: calc(5vmax + 5rem);
}

/* Pricing */

#pricing{
    padding: 10% 5%;
    text-align: center;
}

#pricing h2{
    font-size: 4vmax;
    font-weight: 800;
    word-wrap: break-word;
}

.pricing-subheading{
    font-size: 1.5rem;
}

.card-header{
    font-size: 2rem;
    font-weight: 900;
}

/* Call To Action */

#cta{
    padding: 10% 15%;
    background-color: #ff4c68;
    color: #ffffff;
    text-align: center;
}

#cta h3{
    font-weight: 800;
    font-size: 3rem;
    margin: auto;
}

/* Footer */

#footer{
    padding: 5%;
    text-align: center;
}

#footer a{
    color: #000000;
    text-decoration: none;
    margin: auto;
}

#footer a i{
    margin: 1.5rem;
}

#footer p{
    font-size: 1.25rem;
    font-weight: 500;
    margin: auto;
}